div#navigation{  
    background-color: #000000;
    padding-bottom: 40px;
    color: #000;    
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

  }


#nav{grid-column: 4/9;
        margin-top: 7px;
        margin-left: -10px;
    }

#title{grid-column: 1/3;
       margin-top: -90px;
       margin-left: 50px;
       }



a:visited{color: #e49600;
       background-color: #000000}
a:hover{color: #e49600;
       text-decoration-color:#e49600; 
       background-color: #e49600}

 

 


  div#navigation ul li{
    border-right: 1px solid #000000;  
    display: inline-block;
 

 
}

div#navigation ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;    
   

}



#top, #bottom, #left, #right {
	background: #e49600;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


/* ------------background at top------------- */
div#links{
    position: relative;
    top: -160px;
    left: 650px;
    z-index: 7;}

div#links2{
    position: relative;
    z-index: 7;
    top: -180px;
    left: 300px;}

div#links3{
    position: relative;
    z-index: 7;
    top: -240px;
    left: 700px;}

div#space{position: absolute;
          top: 140px;
          z-index: 1;
         }

div#back1{position: absolute;
          top: 100px;
          z-index: 3;
         }

div#back2{position: absolute;
       top: 100px;
       z-index: 4;}
div#back3{position: absolute;
       top: 100px;
       z-index: 5;}
div#back4{position: absolute;
       top: 100px;
       z-index: 6;}
div#intro{position: absolute;
       top: 100px;
       z-index: 7;}
div#projek{position: absolute;
       top: 100px;
       z-index: 8;}




/* ------------text------------- */

h1{font-family: 'Avenir';
   font-weight: 900;
   color: #e49600; 
   font-size: 4em;
   text-align: center;
   padding-top: 20px;    
}

h2{color: #ffffff;
   text-align:center;
   font-size: 2em;
   padding-left: 10px;    
  }


p{color: #ffffff;
  text-align: center;    
  padding-left:30px;
  font-family: 'Avenir';
  font-weight: 800;}

/* ------------animations for links------------- */

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 1;
}




/* ------------animations for projects------------- */

.container2 {
  position: relative;
  width: 90%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* ------------introduction------------- */

div#intro{background-color: #000000;
          margin-top: 960px;
          margin-bottom: -50px;
          font-family: 'Avenir';
          
          }



/* ------------featured title------------- */



h3{text-align: center;
   font-size: 2.8em;
    font-family: 'Avenir';
    font-weight: 900;
    color: #e49600;
}


/* ------------Featured Projects------------- */


div#projek{ margin-top: 102em;}

div#projects{
    display: grid;
    grid-template-columns: 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093%;
    grid-template-rows: 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093%;
    background-color: #d8dcdf;}
    


.projecttitle{grid-column: 4/9;
               margin-top: -80px;}

.project{

    grid-column: 2 / 5;
    margin-top: 0px;
    padding-left: 10px;
}

.project2{
    grid-column: 5 / 8;
    margin-top: 0px;
    padding-left: 10px;
  }

.project3  {
        grid-column: 8/ 10;
        margin-top: 0px; 
        padding-left: 10px;
    }   

.projectlink{text-align: center;
             grid-column: 9/10;
             grid-row: 10/10;
             border-style: solid;
             border-width: 2px;
             }


/* ------------footer------------- */

div#footer{  
    background-color: #000000; 
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%  10% 10% 10% 10% 10%; 
    grid-template-rows: 20% 20% 20% 20% 20%; }

.monogram1{grid-column: 2/3;
           grid-row: 1/4;
           padding-top: 30px
            }

#email{grid-column: 4/9;
       grid-row: 2/3;
      padding-left: 50px;}

.site1{grid-column: 4/9;
       grid-row: 3/4;
       padding-left: 50px;}
.site2{grid-column: 5/9;
       grid-row: 3/4;
       padding-left: 10px;}
.site3{grid-column: 6/9;
       grid-row: 4/5;
       padding-left: 10px;}
.site4{grid-column: 5/9;
       grid-row: 4/;
       padding-left: 230px;}

.navigation2{grid-column: 8/9;
             grid-row: 2/3;
             font-family: avenir;
             }


