

div#navigation{  
    background-color: #000000;
    padding-bottom: 40px;
    color: #000;    
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

  }




#nav{grid-column: 4/9;
        margin-top: 7px;
        margin-left: -10px;
    }

#title{grid-column: 1/3;
       margin-top: -90px;
       margin-left: 50px;
       }




 

 


  div#navigation ul li{
    border-right: 1px solid #000000;  
    display: inline-block;
 

 
}

div#navigation ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;    
   

}



#top, #bottom, #left, #right {
	background: #e49600;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


/* ------------background at top------------- */
div#links{
    position: relative;
    top: -160px;
    left: 650px;
    z-index: 7;}

div#links2{
    position: relative;
    z-index: 7;
    top: -180px;
    left: 300px;}

div#links3{
    position: relative;
    z-index: 7;
    top: -240px;
    left: 700px;}

div#space{position: absolute;
          top: 140px;
          z-index: 1;
         }

div#back1{position: absolute;
          top: 100px;
          z-index: 3;
         }

div#back2{position: absolute;
       top: 100px;
       z-index: 4;}
div#back3{position: absolute;
       top: 100px;
       z-index: 5;}
div#back4{position: absolute;
       top: 100px;
       z-index: 6;}
div#intro{position: absolute;
       top: 100px;
       z-index: 7;}
div#projek{position: absolute;
       top: 100px;
       z-index: 8;}
div#footerbreak{position: absolute;
       top: 137em;
       z-index: 7;}
div#footer{position: absolute;
       top: 143em;
       z-index: 10;}





/* ------------text------------- */

h1{font-family: 'Avenir';
   font-weight: 900;
   color: #e49600; 
   font-size: 4em;
   text-align: center;
   padding-top: 20px;    
}

h2{color: #ffffff;
   text-align:center;
   font-size: 2em;
   padding-left: 10px;    
  }


p{color: #ffffff;
  text-align: center;    
  padding-left:30px;
  font-family: 'Avenir';
  font-weight: 800;}

/* ------------animations for links------------- */



/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}


/* ------------introduction------------- */

div#intro{background-color: #000000;
          margin-top: 960px;
          margin-bottom: -50px;
          font-family: 'Avenir';
          
          }



/* ------------featured title------------- */



h3{text-align: center;
   font-size: 2.8em;
    font-family: 'Avenir';
    font-weight: 900;
    color: #e49600;
}


/* ------------Featured Projects------------- */


div#projek{ margin-top: 102em;
            }

div#projects{
    display: grid;
    grid-template-columns: 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093%;
    grid-template-rows: 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093% 9.093%;
    background-color: #d8dcdf;}
    


.projecttitle{grid-column: 4/9;
               margin-top: -80px;}

.project{

    grid-column: 2 / 5;
    margin-top: 0px;
    padding-left: 10px;
}

.project2{
    grid-column: 5 / 8;
    margin-top: 0px;
    padding-left: 10px;
  }

.project3  {
        grid-column: 8/ 10;
        margin-top: 0px; 
        padding-left: 10px;
    }   



/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
} 


/* ------------footer------------- */

div#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6em;
  background-color: #000000;
  text-align: center;
  text-decoration-color: #ffffff;    
}
.icons{margin-top: -1em;
       margin-left: -2em;   
       }

h4{
   font-size: 2.8em;
    font-family: 'Avenir';
    font-weight: 900;
    color: #e49600;
    margin-bottom: 1em;
    margin-top: -2em;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}









