
div#navigation{    
    background-color: #211796;  
    padding-bottom: 40px;
    color: #000;    
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;  

  }


#nav{grid-column: 3/9;
        margin-top: 10px;
        margin-left: 250px;
        margin-bottom: -50px;
    }



  div#navigation ul li{
    display: inline-block;
 

 
}

div#navigation ul li a{
  border-right: 2px solid #ffffff;  
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-family: avenir;    
   

}

/* Overline From Left */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #e49600;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}

/* -----------background------------- */


div#about{
          display: grid;
          grid-template-columns: 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555% 5.555%;
          grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px;
          background-color: #fff;}    
    
     

  #about img{
    grid-column: 1/8;
    grid-row-start: 2;
    margin-left: 30px;  
  }

  #about .text{
    grid-column:  10/ 17;
    grid-row-start: 4;
    font-family: avenir;
    
  }

/* -----------text------------- */

div#text{color: #ffffff;
        font-family: 'Avenir';
        font-weight: 800;}

/* -----------footer------------- */
div#footer {   
  position: absolute;
  right: 0;
  left: 0;
  padding: 6em;
  background-color: #000000;  
}
.icons{margin-top: -1em;
       margin-left: 25em;
         
       }

h4{text-align: center;
   font-size: 2.8em;
    font-family: 'Avenir';
    font-weight: 900;
    color: #e49600;
    margin-bottom: 1em;
    margin-top: -2em;
}



/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}











